@using BankApp.DTO;
@model PaginatedList<Transaction>



    <br />
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Transaction List</h1>
            </div>
            <div class="col text-end pt-1">
                
                <a asp-controller="Transaction" asp-action="MakeDeposit" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Deposit</a>
                <a asp-controller="Transaction" asp-action="MakeTransfer" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Transfer</a>
                <a asp-controller="Transaction" asp-action="MakeWithdrawal" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Withdrawal</a>
                
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        TransactionUnique Reference
                    </th>
                    <th>
                        Transaction Amount
                    </th>
                    <th>
                        Transaction Source Account
                    </th>
                    <th>
                        Transaction Type
                    </th>
                    <th>
                        Transaction Status
                    </th>
                    <th>

                        Transaction Destination Amount
                    </th>
                    <th>
                        Transaction Date
                    </th>

                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Items.Any())
                {
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.TransactionUniqueReference</td>
                            <td>@item.TransactionAmount</td>
                            <td>@item.TransactionSourceAccount</td>
                            <td>@item.TransactionType</td>
                            <td>@item.TransactionStatus</td>
                            <td>@item.TransactionDestinationAccount</td>
                            <td>@item.TransactionDate</td>
                            <td>
                                <a asp-controller="Transaction" asp-action="DeleteTransaction" asp-route-Id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            @if (Model != null && Model.TotalPages > 1)
            {
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <nav aria-label="Transaction navigation">
                                <ul class="pagination justify-content-center">
                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                            <a class="page-link" href="?page=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
   


